.main-wrapper{
    height: 90vh;
}

.uscite-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding-top: 20px;
}

.btn-wrapper{
    position: fixed;
    left: 2%;
    bottom: 1.5%;
    text-align: center;
}

.uscite-btns-opener{
    font-size: 35px;
    font-weight: bold;
    color: #F97300;
    border-radius: 50%;
}

.uscite-btns-opener:hover{
    font-size: 40px;
    cursor: pointer;
    box-shadow: 0px 0px 5px #111;
}

.hidden{
    display: none;
}

.uscite-save-btn{
    font-size: 35px;
    font-weight: bold;
    color: green;
    position: fixed;
    bottom: 8%;
    left: 4%;
    border-radius: 50%;
}

.uscite-save-btn:hover{
    cursor: pointer;
    font-size: 45px;
}

.uscite-cancel-btn{
    font-size: 35px;
    font-weight: bold;
    color: red;
    position: fixed;
    bottom: 3%;
    left: 6%;
}

.uscite-cancel-btn:hover{
    cursor: pointer;
    font-size: 45px;
}

@media screen and (max-width: 1200px) {
    .uscite-cancel-btn{
        left: 8%;
    }
}

@media screen and (max-width: 900px) {
    .uscite-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .uscite-cancel-btn{
        left: 8%;
    }
}

@media screen and (max-width: 768px) {
    .uscite-cancel-btn{
        left: 10%;
    }
}

@media screen and (max-width: 500px) {
    .uscite-cancel-btn{
        left: 12%;
    }
}